.article
  border: 1px solid rgba(0,0,0,.09)
  box-shadow: 0 1px 4px rgba(0,0,0,.04)
  margin-bottom: 1rem
  padding: .5rem
  position: relative

.article-header
  img
    width: 100%

  h2
    color: rgba(0,0,0,.8)
    margin: .5rem 0 1rem
    word-break: break-all

.article-body
  h3
    color: rgba(0,0,0,.44)
    font-weight: normal
    margin: .5rem 0
    word-break: break-all

.article-footer
  a
    color: #00ab6b

.fab
  position: fixed
  bottom: 30px
  right: 30px
  display: flex
  justify-content: center
  align-items: center
  width: 56px
  height: 56px
  font-size: 1.4rem
  border-radius: 50%
  background-color: #d23f31
  color: #fff
  cursor: pointer
  overflow: hidden
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1)
  transition-delay: 0.2s
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26)

  &:hover
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2)
    transition-delay: 0s

.cross
  position: absolute
  right: 10px
  cursor: pointer