body {
  background-color: rgb(250, 250, 250);
  font-size: medium;
  min-height: 100%;
  margin: 0;
}

header {
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
  box-sizing: border-box;
  position: absolute;
  height: 2.5rem;
  width: 100%;
  top: 0;
  right: 0;
}

header h2 {
  color: rgba(0,0,0,.8);
  color: #00ab6b;
  margin: .3rem 0 0 0;
}

#menu {
  display: flex;
  max-width: 39rem;
  font-weight: bold;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

#menu li {
  margin: 0.9rem 0.5rem 0;
}

#menu a {
  color: rgba(0,0,0,.8);
  text-decoration: none;
}

a#home {
  color: #00ab6b;
  padding-right: 2rem;
}

main {
  margin: 0 auto;
  min-height: calc(100% - 5rem);
  max-width: 39rem;
  padding-top: 3rem;  
}

article {
  border: 1px solid rgba(0,0,0,.09);
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  margin-bottom: 1rem;
  padding: .5rem;
}

.article-header img {
  width: 100%;
}

.article-header h2 {
  color: rgba(0,0,0,.8);
  margin: 1.5rem 0 1rem;
}

.article-body h3 {
  color: rgba(0,0,0,.44);
  font-weight: normal;
  margin: .5rem 0;
}

.article-footer a {
  color: #00ab6b;
}

.article-footer {
  display: flex;
  justify-content: space-between;
}

.article-footer span {
  color: #00ab6b;
}

footer {
  border-top: 1px solid rgba(0,0,0,.09);
  height: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  color: #00ab6b;
  padding-left: .3rem;
}
