$article-header-cross-size: 1.5rem;
$article-header-cross-padding-size: .5rem;

.article {
  border: 1px solid rgba(0,0,0,.09);
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  margin-bottom: 1rem;
  padding: .5rem;

  &-header {
    position: relative;

    &__image {
      width: 100%;
      }

    &__title {
      color: rgba(0,0,0,.8);
      margin: 1.5rem 0 1rem;
    }

    &__cross {
      position: absolute;
      top: $article-header-cross-padding-size;
      right: $article-header-cross-padding-size;
      height: $article-header-cross-size;
      width: $article-header-cross-size;
      border-radius: $article-header-cross-size;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      opacity: .5; 
      transition-duration: .4s;

      span {
        padding: 1px 0 0 1px;
      }

      &:hover {
        opacity: .8;
      }
    }
  }

  &-body {
    &__content {
      color: rgba(0,0,0,.44);
      font-weight: normal;
      margin: .5rem 0;
    }
  }

  &-footer {
    &__content {
      float: right;
      color: #00ab6b;
    }
  }
}