header
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.15)
  box-sizing: border-box
  height: 2.5rem
  position: absolute
  top: 0
  right: 0
  width: 100%
  
.menu
  max-width: 40rem
  font-weight: bold
  list-style: none
  margin: 0 auto
  padding: 0

  &-item
    display: inline-block
    margin: 0.9rem 0.5rem 0

    &__link
      color: rgba(0,0,0,.8)
      text-decoration: none

      &--active
        color: #00ab6b


  